<div class="align-items-start justify-content-start card text-dark bg-light text-start h-100">
  <div class="card-header text-start w-100">
    <b>Messages</b>
  </div>
  <div class="card-body w-100">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-border table-hover table-striped">
      <thead class="table-secondary">
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Time Sent</th>
      </tr>
      </thead>
      <tbody *ngIf="messages?.length != 0">
      <tr *ngFor="let message of messages" style="cursor: pointer;"
          routerLink="{{'/messages/' + message.messageId}}"
          [style]="{'font-weight': message.isRead ? 'none' : 'bold'}"
      >
        <td>{{message.usernameFrom}}</td>
        <td>{{message.subject}}</td>
        <td>{{message.timeSent | date: 'medium' }}</td>
      </tr>
      </tbody>
      <tbody *ngIf="messages?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
