<app-container>
  <div class="mt-3">
    <hr/>
    <div class="row text-center mb-5">
      <h2 class="text-success">Successful Registration</h2>
    </div>

    <div class="row text-center">
      <p class="text-dark">Please wait until an administrator verify your account to be able to submit bids or sell items.</p>
    </div>

    <div class="row text-center">
      <p class="text-dark">Until then you can continue <a routerLink="/home">browsing</a>.</p>
    </div>
    <hr/>
  </div>
</app-container>
