<div class="card bg-light border-light mb-3">
  <div class="card-header"><h5>{{title}}</h5></div>
  <div class="card-body">
    <div class="row">
      <div *ngFor="let item of items" class="col-md-2">
        <div class="vstack gap-1 text-center justify-content-center align-items-center" [routerLink]="['/items', item.id]" style="cursor: pointer">
          <img class="item-image" src="../../../../../assets/itemBoxItemDefault.jpg" alt="item-image"/>
          <div><h6>{{item.title}}</h6></div>
          <div>{{item.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
