<div class="d-flex align-items-center justify-content-center card text-dark bg-light h-100">
<!--  <div class="card-header text-center w-100"><b>Messages</b></div>-->
  <div class="card-body text-center w-100 ps-1 pe-1">
    <div class="d-grid gap-2">
      <input type="radio" class="btn-check" name="message-radio" id="inbox" autocomplete="off" value="inbox" #inboxRadio (click)="selectMenu(inboxRadio.value)" checked>
      <label class="btn btn-outline-primary" for="inbox"
        [style]="{'font-weight': stats.inboxNew > 0 ? 'bold' : 'none'}"
      >Inbox ( {{stats.inboxNew}} / {{stats.inboxTotal}} )</label>

      <input type="radio" class="btn-check" name="message-radio" id="outbox" autocomplete="off" value="outbox" #outboxRadio (click)="selectMenu(outboxRadio.value)">
      <label class="btn btn-outline-primary" for="outbox">Outbox ( {{stats.outboxTotal}} )</label>
    </div>
  </div>
</div>
