
<div class="container add-top">
  <div class="row">
    <div class="col">
      <h5 type="button" data-bs-toggle="collapse" data-bs-target="#categoriesContext" aria-expanded="true" aria-controls="categoriesContext">
        Filter by Category  &#X25E2;
      </h5>
    </div>
  </div>
  <div class="row collapse show" *ngFor="let r of result" id="categoriesContext">
    <div class="col-9">
        {{r.category.name}}
    </div>
    <div class="col">
      <input type="checkbox" [(ngModel)]="r.isChecked" >
    </div>
  </div>
</div>

<div class="container add-top">
  <div class="row">
    <div class="col">
      <h5 type="button" data-bs-toggle="collapse" data-bs-target="#locationsContext" aria-expanded="false" aria-controls="locationsContext">
        Filter by Location &#X25E2;
      </h5>
    </div>
  </div>
  <div class="row collapse show" *ngFor="let r of result1" id="locationsContext">
    <div class="col-9">
      {{r.location}}
    </div>
    <div class="col align-self-center">
      <input type="checkbox" [(ngModel)]="r.isChecked" >
    </div>
  </div>
</div>

<div class="container add-top">

  <div class="row" type="button" data-bs-toggle="collapse" data-bs-target="#priceContext" aria-expanded="true" aria-controls="priceContext">
    <div class="col">
      <h5>
        Filter by Price &#X25E2;
      </h5>
    </div>
  </div>
  <div class="row g-2 collapse show" id="priceContext">
    <div class="col">
      <input [(ngModel)]="filterdPage.minPrice" placeholder="min" >
    </div>
    <div class="col-auto">
      -
    </div>
    <div class="col">
      <input [(ngModel)]="filterdPage.maxPrice" placeholder="max">
    </div>
  </div>
  <div class="row justify-content-center add-top">
    <div class="col-auto ">
      <button type="button" class="btn btn-secondary" (click)="search()">Search</button>
    </div>
  </div>
</div>

