<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow "
  >
    <div class="container">
      <a class="navbar-brand text-start" [routerLink]="['/home']">
        <img src="../../../../assets/logo_text.png" alt="logo" style="max-height: 4vh; max-width: 10vw;" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-collapse collapse"
        [ngClass]="{ show: isExpanded }"
      >
        <div class="justify-content-center ms-auto mr-auto">
          <form class="d-flex" style="min-width: 40vw">
            <div class="input-group">
              <input type="text" class="form-control d-flex" name="search-field" [(ngModel)]="searchText"
                     aria-label="Text input with dropdown button"
                     (keydown.enter)="search()" style="border: 1px solid grey">
              <select class="form-select" name="category-select"
                      style="max-width: 25%; background-color: aliceblue" [(ngModel)]="selectedCategory">
                <option value="0">All Categories</option>
                <option *ngFor="let category of topCategories" [value]="category.categoryId">{{category.name}}</option>
              </select>
            </div>
          <button class="btn btn-primary ms-3" type="button" (click)="search()">Search</button>
          </form>
        </div>


      <div
        class=" text-end justify-content-end ms-auto" style="min-width: 10vw"
      >
        <span *ngIf="!loggedIn">
          <button class="btn btn-link" routerLink="/login" role="button">Log In</button>
<!--          or-->
          <button class="btn btn-link" routerLink="/register" role="button"> Register </button>
        </span>

        <span *ngIf="loggedIn">
          <div class="dropdown">

            <i class="bi bi-person-circle primary fs-2 mb-3 ms-3" role="button"
               data-bs-toggle="dropdown" style="color: darkslateblue"
            ></i>
            <span *ngIf="newMessages > 0" class="position-absolute top-50 start-100 translate-middle badge rounded-pill bg-danger">
              {{newMessages > 99 ? '99+' : newMessages}}
            </span>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <span class="dropdown-item" style="cursor: default"><b>Hello, {{username}}</b></span>
              <hr class="dropdown-divider">

              <a class="dropdown-item" [routerLink]="['/users/',username]" >My Profile</a>

              <span *ngIf="role === 'user'">
                <button class="dropdown-item" [routerLink]="['/messages']" >
                  Messages
                  <span *ngIf="newMessages > 0" class="ms-2 badge rounded-pill bg-danger">
                    {{newMessages > 99 ? '99+' : newMessages}}
                  </span>
                </button>

                <hr class="dropdown-divider">

                <a class="dropdown-item" [routerLink]="['/items/seller-list']" >My Sales</a>
                <a class="dropdown-item" [routerLink]="['/items/new']" >Create Auction</a>

                <hr class="dropdown-divider">

                <a class="dropdown-item" [routerLink]="['/items/bidder-list']" >My Bids</a>
              </span>

              <span *ngIf="role === 'admin'">
                <a class="dropdown-item" [routerLink]="['/users']">User List</a>
                <a class="dropdown-item" [routerLink]="['/export-data']">Export Item Data</a>
              </span>

              <hr class="dropdown-divider">
              <a class="dropdown-item" (click)="logout()">Logout</a>


            </div>
          </div>
        </span>
      </div>
    </div>
    </div>
  </nav>
</header>
