<div class="container-fluid">
  <div class="header" id="first">
<div class="row">
<nav id="topNav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow navbar-fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".navbar-collapse"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="isExpanded"
      (click)="toggle()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>


    <div
      class="navbar-collapse collapse d-sm-inline-flex"
      [ngClass]="{ show: isExpanded }"
    >
      <ul class="navbar-nav flex-grow justify-content-start">
        <li class="nav-item">
          <a class="page-scroll nav-link text-dark" href="#why-register">Member Benefits</a>
        </li>
        <li class="nav-item">
          <a class="page-scroll nav-link text-dark" href="#about-us">About Us</a>
        </li>
      </ul>

    </div>

    <div class="justify-content-end">

      <button *ngIf="!loggedIn" type="button" class="btn btn-primary me-4" routerLink="/login">
        Login
      </button>

      <button *ngIf="loggedIn" type="button" class="btn btn-primary me-4" routerLink="/home">
        Proceed to Home Page
      </button>
    </div>
  </div>
</nav>
</div>

<div class="row">

    <div class="header-content">
      <div class="row">
        <div class="col-6">
          <div class="row justify-content-center text-white mt-5">
              <h1>Welcome to the fastest growing auction community in the web</h1>
          </div>
          <div class="row justify-content-center">
            <img class="header-image" src="../../assets/welcome-auction-min.jpg" alt="header image people bidding"/>
          </div>
        </div>

        <div class="col-6 ">
          <div class="vstack gap-3" style="max-height: 95vh">
            <h2 class="text-white mt-5">Become a member today</h2>

            <div class="w-50 mx-auto"><app-register></app-register></div>

            <div class="w-25 mx-auto box-or">
              <div class="or-line"></div>
              <div class="or">OR</div>
            </div>

            <div><button class="btn btn-light" routerLink="/home" role="button">Continue as Guest</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row bg-primary" id="why-register">
  <div class="row text-center mt-4">
      <h2 class="text-light">Why to become a member?</h2>
  </div>

  <div class="row text-center mt-4 mb-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 text-center text-light member-item">
        <div class="vstack gap-1 mt-3 mb-3">
          <h5>Make Money</h5>
          <i class="bi bi-coin member-icon"></i>
          <p class="mt-4">Sell your not so valuables to the best offer you can find.</p>
        </div>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-2 text-center text-light member-item">
      <div class="vstack gap-1 mt-3 mb-3">
        <h5>Find Offers</h5>
        <i class="bi bi-wallet2 member-icon"></i>
        <p class="mt-4">Find incredible opportunities, bid and buy items in low price.</p>
      </div>
    </div>

    <div class="col-lg-1"></div>

    <div class="col-lg-2 text-center text-light member-item">
      <div class="vstack gap-1 mt-3 mb-3">
        <h5>Get recommendations</h5>
        <i class="bi bi-star member-icon"></i>
        <p class="mt-4">View more items you are interested in.</p>
      </div>
    </div>
  </div>
</div>

<div class="row about-us-section" id="about-us">
    <div class="row text-center mt-4">
      <h2 class="text-light">About us</h2>
    </div>

    <div class="row text-center mt-4 mb-5">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <p class="text-light">
          This is a project implementing an aucation web applicaton for Internet Technologies 2022.......
        </p>
      </div>

    </div>
  </div>







<footer id="footer">
  <div class="row footer-row text-light text-center">
    <div class="col-lg-2"></div>
    <div class="col-lg-3 mt-4 mb-5">
      <h4>Links</h4>
      <ul class="list-unstyled">
        <li><a class="text-light" routerLink="/home">Home</a></li>
        <li><a class="text-light" routerLink="/login">Login</a></li>
        <li><a class="text-light" routerLink="/register">Register</a></li>
      </ul>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-3 mt-4 mb-5">
      <h4>About</h4>
      <ul class="list-unstyled">
        <li><a class="text-light" href="#">Contact Us</a></li>
        <li><a class="text-light" href="#">Privacy Policy</a></li>
        <li><a class="text-light" href="#">Terms &amp; Conditions</a></li>
      </ul>
    </div>
    <div class="col-lg-2"></div>
  </div>
</footer>




</div>
