.item-image {
  display: inline-block;
  border-radius: 1%;
  height: 25vh;
}
#container{
  position: relative;
  cursor: pointer;
  display: inline-grid;
}

.card-title{
  max-height: 5vh;
  overflow: hidden;
}

.card-title:hover{
  text-decoration: underline;
}

